<!DOCTYPE html>
<html>

<head>
    {{>header}}
</head>

<body>
    <div class="webmail-container">
        <div id="webmail-main" class="webmail-main">

            {{{body}}}

        </div>
    </div>

</body>

</html>